/*------------------------------------------------------------------
[1. Variables]
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Colors]
*/
$ac-white: #FFFFFF;
$ac-ghost: #FEFEFE;
$ac-light: #EDEDED;
$ac-gray-100: #f9fafc;
$ac-gray-200: #f8fafd;
$ac-gray-300: #e7eaf3;
$ac-gray-400: #bdc5d1;
$ac-gray-500: #97a4af;
$ac-gray-600: #8c98a4;
$ac-gray-700: #677788;
$ac-gray-900: #71869d;
$ac-gray: #21313c;
$ac-blue: #387DFD;
$ac-green: #0DAD0A;
$ac-green2: #188754;
$ac-orange: #F96138;
$ac-yellow: #FFC107;
$ac-dark: #132144;
$ac-dark-alt: #1E2022;
$ac-black: #000000;
$ac-success: #00c9a7;
$ac-warning: #f5ca99;
$ac-danger: #ed4c78;
$ac-iris: #5454D4;
$ac-oxford: #1D293F;